.navbar{
    height: 120px;
    box-shadow: 0 4px 10px black;
    background: linear-gradient(180deg, rgba(75,111,127,1) 0%, rgba(69,106,122,1) 13%, rgba(66,103,119,1) 16%, rgba(65,102,120,1) 27%, rgba(56,95,112,1) 38%, rgba(49,90,108,1) 50%, rgba(44,85,103,1) 62%, rgba(42,85,104,1) 68%, rgba(29,74,93,1) 94%, rgba(28,73,94,1) 100%);
    width: 100%
    
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.navbar-name{
    font-size: 50px;
}

.navbar-menu{
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 5px
}

.navbar-menu li{
    display: inline-block;
    margin: 5px
}

.navbar-menu ul{
    margin-bottom: 0
}

.navbar-wrap{
    display: flex;
}
