<div class="what">
    <div class="block2-left"></div>
    <div class="block2-center"></div>
    <div class="block2-right shadowtext">
        <div class="block-title">MindMap</div>
            <div class="block-text">
                <p>Карточки - отличный способ систематизировать информацию, составлять планы и наглядные схемы.</p>
                <p>Как это работает:
                    - двойной клик по пустому пространству - создать карточку; по карточке - открыть окно редактирования
                    - зажатая правая кнопка мыши - протянуть связь между карточками</p>
                <p>Попробуйте сами!</p>
            </div>
    </div>
</div>