.what{
    background: url("../../img/2.jpg");
    background-size: cover;
    height: 90vh;
}

.block2-left{
    background: rgb(127 186 178 / .2);
    box-shadow: 15px 15px rgb(12, 113, 113);
    margin-left: 21%;
    width: 30%;
    height: 650px;
    background-size: cover;
    background-position: center;
    position: absolute;
    margin-top: 12%;  
}

.block2-center{
    background: url("../../img/2.jpg");
    position: absolute;
    left: 25%;
    margin-top: 14%;
    height: 600px;
    width: 50%;
}

.block2-right{
    position: absolute;
    right: 12%;
    margin-top: 19%;
    width: 40%;
    padding: 30px 50px 10px 50px;
}
